/*  */
/* @font-face {
    font-family: ;
    src: url();
} */
/* @font-face {
    font-family: ;
    src: url();
} */


:root {
    --font-en: "Roboto Condensed", "Pretendard Variable", "Noto Sans KR", sans-serif;
    --font-kr: "Pretendard", sans-serif;
}
*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;}
html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}
ul{list-style: none;}

body{
    font-size: 14px;
    line-height: 1.6;
    word-break: break-all;
    color: #000000;
    background-color: #fff;
}

